<form class="block p-6 rounded-lg shadow-lg bg-white max-w-sm mb-8" action="/users/create-user" method="POST">
    <div class="form-group mb-4">
        <label for="name">Your name</label><br/>
        <input class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none sm:text-sm border-gray-300" type="text" name="name" id="name" required/>
    </div>
    <div class="form-group mb-4">
        <label for="username">Pick a username</label><br/>
        <input class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none sm:text-sm border-gray-300" type="text" name="username" id="username" required/>
    </div>
    <div class="form-group mb-4">
        <label for="email">Your email</label><br/>
        <input class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none sm:text-sm border-gray-300" type="email" name="email" id="email" required/>
    </div>
    <div class="form-group mb-4">
        <label for="password">Password</label><br/>
        <input class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none sm:text-sm border-gray-300" type="password" name="password" id="password" required/>
    </div>
    <div class="form-group mb-4">
        <label for="password_repeat">Password repeat</label><br/>
        <input class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none sm:text-sm border-gray-300" type="password" name="password_repeat" id="password_repeat" required/>
    </div>
    <button class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" type="submit">Join us!</button>
</form>
