/* Sample styles */
:root {
  --spacer: 16px;
  --color-black: #333;
  --color-dark-gray: #666;
  --color-light-gray: #AAA;
  --color-white: #FFF;
}

/**
  Defaults
 */
html,
body {
  margin: 0;
  padding: 0;
  color: var(--color-black);
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
  }

ul a {
    display: block;
    padding: 4px 10px;
  }

ul a:hover {
      text-decoration: none;
    }

ul a.active {
      color: black;
    }

/**
  Site header
 */
header {
  background: lavender;
}
header ul {
    display: flex;
  }
header ul li {
      list-style: none;
    }

/**
  Main section
 */
main {
  padding: var(--spacer);
  max-width: 1200px;
  margin: 0 auto;
}

/**
  Product card
 */
.t-products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--spacer) * -1);
}

.t-products__item {
  flex: 1 1 100%;
  padding: var(--spacer);
  max-width: 100%;
  list-style: none;
}

@media (min-width:768px) {

.t-products__item {
    max-width: 50%
}
  }

@media (min-width:992px) {

.t-products__item {
    max-width: 33.33%
}
  }

.t-products__link {
  display: flex;
  flex-direction: column;
  padding: var(--spacer);
  max-width: 100%;
  height: 100%;
  border-radius: 4px;
  color: inherit;
  text-decoration: none;
  background: var(--color-white);
  box-shadow: 0 0 8px var(--color-light-gray);
  transition: transform .2s;
}

.t-products__link:hover {
    transform: scale(1.025);
  }

.t-products__title {
  margin: 0 0 var(--spacer);
}

.t-products__img-wrapper {
  position: relative;
  padding-top: 62%;
  max-width: 100%;
}

.t-products__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.t-products__description {
  color: var(--color-dark-gray)
}

.t-products__price {
  margin-top: auto;
  color: darkviolet;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
}

.t-products__actions {
  display: flex;
  align-items: center;
}

.t-products__actions > * {
    flex: 1 1 auto;
  }

.t-products__actions button {
    width: 100%;
  }

/**
  Add product form
 */
.t-product-form {
  margin: 0 auto;
  max-width: 400px;
}

.t-product-form__field {
  margin: 0 0 var(--spacer);
}

.t-product-form__label {
  display: block;
  margin: 0 0 4px;
  color: var(--color-dark-gray)
}

.t-product-form__control {
  width: 100%;
  padding: 4px 10px;
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
}

.t-product-form__btn {
  width: 100%;
}
