/* Sample styles */
html,
body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  padding: 4px 10px;
}

li a:hover {
  text-decoration: none;
}

li a.active {
  color: black;
}

header {
  background: lavender;
}

header ul {
  display: flex;
}

header li {
  list-style: none;
}

main {
  padding: 10px;
}
