<%- include('../includes/head.ejs') %>

<%- include('../includes/main-nav.ejs') %>

<main>
    <h1>Hey, nice to see you!</h1>
    <p>We have many 'great people here, <a href="/users">just have a look</a>!</p>
    <h2>Please join us :-)</h2>
    <%- include('../includes/user-form.ejs') %>
</main>

<%- include('../includes/footer.ejs') %>
