<header>
    <nav>
        <ul>
            <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home page</a></li>
            <li><a class="<%= (path === '/users' || path === 'users/create-user') ? 'active' : '' %>" href="/users">Users</a></li>
        </ul>
    </nav>
</header>
