<h1>Hey, nice to see you!</h1>
<p>We have many 'great people here, <a href="/users">just have a look</a>!</p>
<h2>Please join us :-)</h2>
<form action="/users/create-user" method="POST">
    <label for="username">Pick a username</label><br/>
    <input type="text" name="username" id="username"/>
    <button type="submit">Join us!</button>
</form>
