<%- include('../../includes/head.ejs') %>

<%- include('../../includes/main-nav.ejs') %>

<main>
    <h1>New product <span style="color: green;"><%= title %></span> is added</h1>
    <p>Please check out <a href="/shop">our amazing catalog</a></p>
</main>

<%- include('../../includes/footer.ejs') %>
