<%- include('../../includes/head') %>

<%- include('../../includes/main-nav') %>

<main>
    <h1 class="l-title"><%= pageTitle %></h1>
    <p>The product is deleted</p>
</main>

<%- include('../../includes/footer') %>
