extend layouts/main-layout.pug

block content
    if users.length > 0
        h1 Our people
        p We have many greate people here, just have a look!
        ol
            each user in users
                li #{user.name}
    else
        h1 No people here yet
    h2 Please join us :-)
    include ../includes/user-form.pug
