<form action="/admin/add-product" method="POST">
    <label for="product_title">Product title</label><br>
    <input type="text" name="product_title" id="product_title" required/>
    <button type="submit">Add a new product</button>
</form>
