<%- include('../includes/head.ejs') %>

<%- include('../includes/main-nav.ejs') %>

<main>
    <h1>Hey, nice to see you!</h1>
    This is a place where you can easily
    <ul>
        <li>
            <a href="/shop">check, choose and purchase our amazing products</a>
        </li>
        <li>
            <a href="/users">register here</a>
        </li>
        <li>
            <a href="/users">see other users here</a>
        </li>
    </ul>
    <h2>Our most popular items here</h2>
    <p>TODO: Add product list</p>
</main>

<%- include('../includes/footer.ejs') %>
